h1{
  display: flex;
  justify-content: center;
}

.cards-question {
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
background-color: grey;
// color: white;
border-radius: 8px;
width: 50vw;
margin-bottom: 15px;
margin-top: 25px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cards-reponse{
   margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display:flex;
  background-color: rgb(197, 197, 197);
  width: 35vw;
  border-radius: 8px;
  margin-bottom: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  // -webkit-appearance: none;
  // appearance: none;

}

.cards-reponse:checked + label {

  background-color: rgb(94, 159, 229);
  width: 35vw;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-container {
  position: relative;
margin-left: auto;
margin-right: auto;

  height: 50px;
  width: 60vw;
}
.card-container:hover .card {
  transform: rotateY(180deg);
}
.card {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;
  transform-style: preserve-3d;
}
.card-front {
  display: flex;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;

  backface-visibility: hidden;
  background-color: grey;
border-radius: 8px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card-back {
  display: flex;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;

  backface-visibility: hidden;
  background-color: grey;
border-radius: 8px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: rotateY(-180deg);
}
