h1{
  display: flex;
  justify-content: center;
  text-align: center;
}

.cards-question {
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
background-color: #BF3737;
// color: white;
border-radius: 4px;
width: 50vw;
margin-bottom: 15px;
margin-top: 25px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
text-align: center;
}

.cards-reponse{
   margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display:flex;
  background-color: rgb(197, 197, 197);
  width: 35vw;
  border-radius: 4px;
  margin-bottom: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  // -webkit-appearance: none;
  // appearance: none;
  transition: transform .1s;

}
.btn{
  background-color: #BF3737;
}

// .cards-reponse input[type='radio'] {
//   display: none;
// }
.cards-reponse:hover{
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  }
.title{
  display: flex;
align-items: center;
}


// input[type="radio"]{
//   display: none;
// }
input[type="radio"]:checked+label{

   background-color: #BF3737;
  }
// .cards-reponse::after{
//   background-color: #BF3737;
// }
