// img.sticky {
//   position: -webkit-sticky; /* Safari */
//   position: sticky;
//   top: 0;
// }
// .img-fluid{
//   border-radius: 85%;
//   // height: fit-content;

// }

// .object-fit{
//   object-fit: cover;
// }
.list-prog {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}

.margin-top-50 {
  margin-top: 50px;

}
.container {
  color:white;
}
