.check_top1{
  color: #BF3737;
  // text-shadow: #BF3737;
  margin-top: 51px;
  margin-right: 322px;
  border-color: aliceblue;

  }

.check_top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.card-check {
  display: flex;
  flex-direction: column;
  margin: 3px;
  background-color: transparent;
  // text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
  border-color: transparent;
  justify-content: space-evenly;}

  // .btn-check{
  //   border-radius: 100%;
  // }
  a {
    color:cornflowerblue;
  }
  p {
   display: flex;
 text-align: center;
}

// .try {
//   padding: 5px;
//   margin-left: auto;
//   margin-right: auto;
//   display: flex;
//   justify-content: center;
// background-color: #BF3737;
// // color: white;
// border-radius: 4px;
// width: 50vw;
// margin-bottom: 15px;
// margin-top: 25px;
// box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
// text-align: center;
// }
