<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-start">
   <div class="ms-2 me-auto">
        <img src="https://ca.slack-edge.com/T02NE0241-U04KPGHRR4Y-ff7f6f5f9ce0-72" class ="rounded_img" alt="...">
    <div class="fw-bold"><p>Paul clusot</p></div>
     parti liberal
    </div>
  </li>

  <li class="list-group-item d-flex justify-content-between align-items-start">
   <div class="ms-2 me-auto">
        <img src="https://ca.slack-edge.com/T02NE0241-U04KPGHRR4Y-ff7f6f5f9ce0-72" class ="img-thumbnail" alt="...">
   <div class="fw-bold">Marie-clotilde Autain</div>
   L'array publique

    </div>
   </li>

  <li class="list-group-item d-flex justify-content-between align-items-start">
   <div class="ms-2 me-auto">
        <img src="https://ca.slack-edge.com/T02NE0241-U04KPGHRR4Y-ff7f6f5f9ce0-72" class ="img-thumbnail" alt="...">
   <div class="fw-bold"> <p> Maryame Taubica </p> </div>
    La france indomptable
    </div>
   </li>

  <li class="list-group-item d-flex justify-content-between align-items-start">
   <div class="ms-2 me-auto">
        <img src="https://ca.slack-edge.com/T02NE0241-U04KPGHRR4Y-ff7f6f5f9ce0-72" class ="img-thumbnail" alt="...">
 <div class="fw-bold">Rabbia Kelaoua</div>
    La démocratie en marche
    </div>
  </li>

  <li class="list-group-item d-flex justify-content-between align-items-start">
   <div class="ms-2 me-auto">
        <img src="https://ca.slack-edge.com/T02NE0241-U04KPGHRR4Y-ff7f6f5f9ce0-72" class ="img-thumbnail" alt="...">
  <div class="fw-bold"> Gerard Martin </div>
   Le parti Nationaliste
    </div>
   </li>
</ul>
