<div class = "container">
  <div class = "check_top" >
    <img class= "img_top"loading="lazy" src="http://petitemimine.p.e.pic.centerblog.net/c1569577.gif" height="257" width="228" alt="Je vote ">
    <h1> Vous votez pour la première fois</h1>
  </div>
      <p> Vous avez 18 ans ou bien  les aurez juste avant le premier tour d'une élection ?
    Vous pourrez donc prendre part au vote. Pour cela, une seule obligation : être inscrit sur les listes électorales. Si   êtes fait recenser l'année de vos 16 ans par la mairie, cette inscription est automatique.
      </p>
      <br>


      <div class="d-grid gap-2 col-6 mx-auto">
        <button  class="btn btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample1" aria-expanded="false" aria-controls="collapseWidthExample" >
           LA CARTE ELECTORALE
        </button>
      </div>

      <div style="min-height: 120px;">
        <div class="collapse collapse-horizontal" id="collapseWidthExample1">
         <div class="card-check card-body" >
            Elle vous sera soit remise à l'occasion d'une cérémonie de citoyenneté organisée par le maire,
          soit envoyée par courrier au plus tard 3 jours avant le scrutin .
          Si  êtes absent le jour de la cérémonie de citoyenneté :
          soit  serez invité à une prochaine cérémonie,
          soit la carte  sera envoyée par courrier à votre domicile au plus tard 3 jours avant le 1er tour de l'élection ,
          soit elle sera mise à votre disposition le jour de l'élection à votre bureau de vote. Vous pourrez l'obtenir en présentant votre pièce d'identité.
          Vous n'êtes pas inscrit d'office sur la liste électorale à 18 ans, si vous n'avez pas fait votre recensement citoyen, ou si vous l'avez fait tardivement.
          Pour pouvoir voter, vous devez alors demander à la mairie de vous inscrire.
          Vous pouvez  vous inscrire toute l'année : sur place, par courrier ou <a href="https://www.service-public.fr/particuliers/vosdroits/R16396" class="text-decoration-none"> EN LIGNE.</a>

         </div>
        </div>
      </div>


      <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample2" aria-expanded="false" aria-controls="collapseWidthExample">
          NOUVELLE INSCRIPTION
        </button>
      </div>

    <div style="min-height: 120px;">
      <div class="collapse collapse-horizontal" id="collapseWidthExample2">
        <div class="card-check card-body">
          <div class ="align-text-center">
            <h6><strong>VOUS VIVEZ EN FRANCE : </strong></h6>
              Vous pouvez  inscrire sur la liste électorale d'une des communes suivantes :
              commune de votre domicile,
              commune dans laquelle  êtes soumis aux impôts locaux (taxe d'habitation, contribution foncière des entreprises, taxe foncière sur les propriétés bâties ou non bâties) depuis au moins 2 ans,
              commune de votre résidence, si  y résidez de manière effective et continue depuis au moins 6 mois
              commune où  avez l'obligation de résider en tant que fonctionnaire,
              commune où la société, dont  êtes le gérant ou l'associé majoritaire ou unique depuis au moins 2 ans, est inscrite au rôle des contributions communales depuis au moins 2 ans,
              À savoir :
              Si  êtes hébergé chez un proche (parent par exemple) ou un ami,  pouvez être inscrit dans la commune où  êtes hébergé.
              Si  êtes SDF: SDF : Sans domicile fixe, ou forain, ou gens du voyage,  pouvez être inscrit dans la commune de l'organisme où  avez élu domicile.
          </div>
          <br>
          <hr class="hr_list_glossaire">
          <div class ="align-text-center">
            <h6><strong>VOUS VIVEZ A L ETRANGER mais voulez voter en France : </strong> </h6>
              <em>Vous êtes inscrit au registre des Français établis hors de France :</em>
          <br>
               pouvez  inscrire sur la liste électorale d'une des communes suivantes :
              commune où est situé votre domicile ,
              commune où  résidez depuis au moins 6 mois ,
              commune où  êtes soumis aux impôts locaux (taxe d'habitation ou cotisations foncière des entreprises ou taxe foncière sur les propriétés bâties ou non bâties) depuis au moins 2 ans ,
              commune où se situe une société soumise aux impôts locaux depuis au moins 2 ans et dont  êtes le gérant (dirigeant) ou l'actionnaire (majoritaire ou unique) depuis au moins 2 ans ,
              commune où  êtes né ,
              commune de votre dernier domicile ,
              commune de votre dernière résidence, à la condition que celle-ci ait été d'au moins 6 mois ,
              commune où un de vos parents (jusqu'au 4e degré), est inscrit ou a été inscrit sur la liste électorale ,
              commune où votre époux ou l'un de vos parents (jusqu'au 4e degré) est inscrit ou a été inscrit sur la liste électorale.
         <hr>
              <em>Vous n'êtes pas inscrit au registre :</em>
              Vous pouvez  inscrire sur la liste électorale d'une des communes suivantes :
              commune où est situé votre domicile
              commune où  résidez depuis au moins 6 mois
              commune où  êtes soumis aux impôts locaux (taxe d'habitation ou cotisations foncière des entreprises ou taxe foncière sur les propriétés bâties ou non bâties) depuis au moins 2 ans
              commune où se situe une société soumise aux impôts locaux depuis au moins 2 ans et dont  êtes le gérant (dirigeant) ou l'actionnaire (majoritaire ou unique) depuis au moins 2 ans.
          </div>
        </div>
     </div>
    </div>


      <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample3" aria-expanded="false" aria-controls="collapseWidthExample">
          QUAND ET COMMENT S'INSCRIRE ?
        </button>
      </div>

  <div style="min-height: 120px;">
    <div class="collapse collapse-horizontal" id="collapseWidthExample3">
      <div class="card-check card-body" >
              Un Français qui atteint l'âge de 18 ans est inscrit automatiquement sur les listes électorales s'il a fait la démarche de recensement citoyen à partir de 16 ans.
              Une personne devenue française après 2018 est inscrite automatiquement sur les listes électorales.
              Une personne détenue en prison et qui n'est pas privée du droit de vote doit respecter une procédure d'inscription particulière.
              Un citoyen européen résidant en France peut demander à être inscrit sur les listes électorales complémentaires de sa mairie pour voter aux élections municipales et élections européennes en France.La carte électorale est envoyée par courrier à votre domicile au plus tard 3 jours avant le 1er tour de l'élection .</p>
      </div>
    </div>
  </div>


      <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn  btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample4" aria-expanded="false" aria-controls="collapseWidthExample">
     LE JOUR DU SCRUTIN
        </button>
      </div>

  <div style="min-height: 120px;">
    <div class="collapse collapse-horizontal" id="collapseWidthExample4">
      <div class="card card-body">
        <img src="https://mobile.interieur.gouv.fr/var/miomcti/storage/images/media/mi/images/infographies/elections-citoyennete/presidentielle-2017/les-jeunes-et-les-elections/le-jour-du-scrutin/803308-1-fre-FR/Le-jour-du-scrutin_large.png">
        <img src="https://mobile.interieur.gouv.fr/var/miomcti/storage/images/media/mi/images/infographies/elections-citoyennete/presidentielle-2017/les-jeunes-et-les-elections/quelles-sont-les-pieces-d-identite-valable-pour-aller-voter/803314-1-fre-FR/Quelles-sont-les-pieces-d-identite-valable-pour-aller-voter_large.png
          " alt="">
       <img src="https://mobile.interieur.gouv.fr/var/miomcti/storage/images/media/mi/images/infographies/elections-citoyennete/presidentielle-2017/les-jeunes-et-les-elections/tu-votes-ou-toi/803320-3-fre-FR/Tu-votes-ou-toi_large.png" alt="">
    </div>
      </div>
     </div>



      <div class="d-grid gap-2 col-6 mx-auto">
        <button  class="btn btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample5" aria-expanded="false" aria-controls="collapseWidthExample" >
           LES DIFFÉRENTS VOTES
        </button>
      </div>

    <div style="min-height: 120px;">
      <div class="collapse collapse-horizontal" id="collapseWidthExample5">
        <div class="card-check card-body" >
         LE VOTE POUR UN CANDIDAT :  glissez le nom du candidat pour lequel  souhaitez voter.
         <br>
          LE VOTE BLANC : vous glissezune enveloppe vide dans l’urne pour signifier que  votez, mais que  n’etes pas en accord avec les candidats qui se présentent.
          👉 En France, le vote blanc n’est pas comptabilisé. C’est-à-dire qu’il n’est pas pris en compte lors des résultats, au même titre qu’un vote nul.
          <br>
          LE VOTE NUL : le vote nul est doté d’un supplément qui discrédite le vote (une écrite manuscrite, un papier déchiré…) Dans ce cas, le vote n’est pas comptabilisé, il est nul. Le vote nul peut aussi bien être volontaire (pour manifester son désaccord) ou involontaire (pensant qu’une écriture manuscrite ajoutée au vote n’aurait aucune incidence).
        </div>
      </div>
    </div>


      <div class="d-grid gap-2 col-6 mx-auto">
        <button  class="btn btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample6" aria-expanded="false" aria-controls="collapseWidthExample" >
           LA PROCURATION
        </button>
      </div>

    <div style="min-height: 120px;">
      <div class="collapse collapse-horizontal" id="collapseWidthExample6">
         <div class="card-check card-body" >
          Lorsque vous êtes dans l’impossibilité de vous rendre au bureau de vote pour aller voter lors d’une élection, vous pouvez faire une procuration pour que quelqu’un de confiance, que vous choisissez, vote pour vous.
          <br>
          LES LIEUX POUR FAIRE UNE PROCURATION :

          Un commissariat,
          Tribunal judiciaire,
          Gendarmerie
          <br>
          LES PAPIERS ADMINISTRATIFS :

          Avoir en sa possession son numéro national d’électeur et celui de la personne qui votera
          👉 Lorsque vous décidez de faire une procuration, la personne qui votera à votre place doit impérativement être inscrite sur les listes électorales.
          <br>
          JUSTIFICATIF D'IDENTITÉ :
          👉 Si vous avez besoin de faire une procuration pour les élections présidentielles , il est conseillé de vous y prendre quelques jours avant le scrutin pour que votre demande soit prise en compte.
        </div>
      </div>
    </div>
  </div>
