<div class = "container">
  <div class= "nav-link">
    <h1> Vous votez pour la première fois</h1>
  </div>
  <p> Vous avez 18 ans ou bien vous les aurez juste avant le premier tour d'une élection ?
    Vous pourrez donc prendre part au vote. Pour cela, une seule obligation : être inscrit sur les listes électorales. Si vous vous êtes fait recenser l'année de vos 16 ans par la mairie, cette inscription est automatique.
  </p>
  <br>

    <p>
      <div class="d-grid gap-2 col-6 mx-auto">
        <button  class="btn btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample1" aria-expanded="false" aria-controls="collapseWidthExample" >
          LA CARTE ELECTORALE
        </button>
      </div>
    </p>
    <div style="min-height: 120px;">
      <div class="collapse collapse-horizontal" id="collapseWidthExample1">
         <div class="card-check card-body" >
            Elle vous sera soit remise à l'occasion d'une cérémonie de citoyenneté organisée par le maire,
          soit envoyée par courrier au plus tard 3 jours avant le scrutin (élection ou référendum).
          Si vous êtes absent le jour de la cérémonie de citoyenneté :
          soit vous serez invité à une prochaine cérémonie,
          soit la carte vous sera envoyée par courrier à votre domicile au plus tard 3 jours avant le 1er tour de l'élection (ou le référendum),
          soit elle sera mise à votre disposition le jour de l'élection à votre bureau de vote. Vous pourrez l'obtenir en présentant votre pièce d'identité.
          Vous n'êtes pas inscrit d'office sur la liste électorale à 18 ans, si vous n'avez pas fait votre recensement citoyen, ou si vous l'avez fait tardivement.
          Pour pouvoir voter, vous devez alors demander à la mairie de vous inscrire.
          Vous pouvez vous inscrire toute l'année : en ligne <a href="https://www.service-public.fr/particuliers/vosdroits/R16396" class="text-decoration-none"> (Je m'inscris sur les listes)</a>
          , sur place ou par courrier.
        </div>
     </div>
    </div>

    <p>
      <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample2" aria-expanded="false" aria-controls="collapseWidthExample">
          NOUVELLE INSCRIPTION
        </button>
      </div>
    </p>
    <div style="min-height: 120px;">
      <div class="collapse collapse-horizontal" id="collapseWidthExample2">
        <div class="card-check card-body">
          <div class ="align-text-center">
            <h6><strong>VOUS VIVEZ EN FRANCE : </strong></h6>
              Vous pouvez vous inscrire sur la liste électorale d'une des communes suivantes :
              commune de votre domicile,
              commune dans laquelle vous êtes soumis aux impôts locaux (taxe d'habitation, contribution foncière des entreprises, taxe foncière sur les propriétés bâties ou non bâties) depuis au moins 2 ans,
              commune de votre résidence, si vous y résidez de manière effective et continue depuis au moins 6 mois
              commune où vous avez l'obligation de résider en tant que fonctionnaire,
              commune où la société, dont vous êtes le gérant ou l'associé majoritaire ou unique depuis au moins 2 ans, est inscrite au rôle des contributions communales depuis au moins 2 ans,
              À savoir :
              Si vous êtes hébergé chez un proche (parent par exemple) ou un ami, vous pouvez être inscrit dans la commune où vous êtes hébergé.
              Si vous êtes SDF: SDF : Sans domicile fixe, ou forain, ou gens du voyage, vous pouvez être inscrit dans la commune de l'organisme où vous avez élu domicile.
          </div>
          <br>
          <div class ="align-text-center">
            <h6><strong>VOUS VIVEZ A L ETRANGER mais voulez voter en France : </strong> </h6>
              <em>Vous êtes inscrit au registre des Français établis hors de France :</em>
          <br>
              vous pouvez vous inscrire sur la liste électorale d'une des communes suivantes :
              commune où est situé votre domicile ,
              commune où vous résidez depuis au moins 6 mois ,
              commune où vous êtes soumis aux impôts locaux (taxe d'habitation ou cotisations foncière des entreprises ou taxe foncière sur les propriétés bâties ou non bâties) depuis au moins 2 ans ,
              commune où se situe une société soumise aux impôts locaux depuis au moins 2 ans et dont vous êtes le gérant (dirigeant) ou l'actionnaire (majoritaire ou unique) depuis au moins 2 ans ,
              commune où vous êtes né ,
              commune de votre dernier domicile ,
              commune de votre dernière résidence, à la condition que celle-ci ait été d'au moins 6 mois ,
              commune où un de vos parents (jusqu'au 4e degré), est inscrit ou a été inscrit sur la liste électorale ,
              commune où votre époux ou l'un de vos parents (jusqu'au 4e degré) est inscrit ou a été inscrit sur la liste électorale.
          <br>
              <em>Vous n'êtes pas inscrit au registre :</em>
              Vous pouvez vous inscrire sur la liste électorale d'une des communes suivantes :
              commune où est situé votre domicile
              commune où vous résidez depuis au moins 6 mois
              commune où vous êtes soumis aux impôts locaux (taxe d'habitation ou cotisations foncière des entreprises ou taxe foncière sur les propriétés bâties ou non bâties) depuis au moins 2 ans
              commune où se situe une société soumise aux impôts locaux depuis au moins 2 ans et dont vous êtes le gérant (dirigeant) ou l'actionnaire (majoritaire ou unique) depuis au moins 2 ans.
          </div>
        </div>
     </div>
    </div>

    <p>
      <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample3" aria-expanded="false" aria-controls="collapseWidthExample">
          QUAND ET COMMENT S INSCRIRE ?
        </button>
      </div>
    </p>
  <div style="min-height: 120px;">
    <div class="collapse collapse-horizontal" id="collapseWidthExample3">
      <div class="card-check card-body" >
              Un Français qui atteint l'âge de 18 ans est inscrit automatiquement sur les listes électorales s'il a fait la démarche de recensement citoyen à partir de 16 ans.
              Une personne devenue française après 2018 est inscrite automatiquement sur les listes électorales.
              Une personne détenue en prison et qui n'est pas privée du droit de vote doit respecter une procédure d'inscription particulière.
              Un citoyen européen résidant en France peut demander à être inscrit sur les listes électorales complémentaires de sa mairie pour voter aux élections municipales et élections européennes en France.La carte électorale est envoyée par courrier à votre domicile au plus tard 3 jours avant le 1er tour de l'élection .</p>
      </div>
    </div>
  </div>

    <p>
      <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn  btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample4" aria-expanded="false" aria-controls="collapseWidthExample">
          LE JOUR DU SCRUTIN :
        </button>
      </div>
     </p>
  <div style="min-height: 120px;">
    <div class="collapse collapse-horizontal" id="collapseWidthExample4">
      <div class="card card-body" >
        <img src="https://mobile.interieur.gouv.fr/var/miomcti/storage/images/media/mi/images/infographies/elections-citoyennete/presidentielle-2017/les-jeunes-et-les-elections/le-jour-du-scrutin/803308-1-fre-FR/Le-jour-du-scrutin_large.png">
        <img src="https://mobile.interieur.gouv.fr/var/miomcti/storage/images/media/mi/images/infographies/elections-citoyennete/presidentielle-2017/les-jeunes-et-les-elections/quelles-sont-les-pieces-d-identite-valable-pour-aller-voter/803314-1-fre-FR/Quelles-sont-les-pieces-d-identite-valable-pour-aller-voter_large.png
          " alt="">
        <img src="https://mobile.interieur.gouv.fr/var/miomcti/storage/images/media/mi/images/infographies/elections-citoyennete/presidentielle-2017/les-jeunes-et-les-elections/tu-votes-ou-toi/803320-3-fre-FR/Tu-votes-ou-toi_large.png" alt="">
      </div>
    </div>
  </div>
</div>
