
<h1>Vous votez pour la première fois</h1>
  <p>Vous avez 18 ans ou bien vous les aurez juste avant le premier tour d'une élection qui a lieu en 2017 ? Vous pourrez donc prendre part au vote. Pour cela, une seule obligation : être inscrit sur les listes électorales. Si vous vous êtes fait recenser l'année de vos 16 ans par la mairie, cette inscription est automatique.
La carte électorale vous est :

Soit remise à l'occasion d'une cérémonie de citoyenneté organisée par le maire
Soit envoyée par courrier au plus tard 3 jours avant le scrutin (élection ou référendum)
Si vous êtes absent le jour de la cérémonie de citoyenneté :

Soit vous êtes invité à une prochaine cérémonie
Soit la carte vous est envoyée par courrier à votre domicile au plus tard 3 jours avant le 1er tour de l'élection (ou le référendum)
Soit la carte est mise à votre disposition le jour de l'élection à votre bureau de vote. Vous pouvez l'obtenir en présentant votre pièce d'identité

Vous n'êtes pas inscrit d'office sur la liste électorale à 18 ans, si vous n'avez pas fait votre recensement citoyen, ou si vous l'avez fait tardivement.

Pour pouvoir voter, vous devez alors demander à la mairie de vous inscrire.

Vous pouvez vous inscrire toute l'année :en ligne ,sur place ou par courrier
NOUVELLE INSCRIPTION:
VOUS VIVEZ EN FRANCE:

Vous pouvez vous inscrire sur la liste électorale d'une des communes suivantes :

Commune de votre domicile
Commune dans laquelle vous êtes soumis aux impôts locaux (taxe d'habitation, contribution foncière des entreprises, taxe foncière sur les propriétés bâties ou non bâties) depuis au moins 2 ans
Commune de votre résidence, si vous y résidez de manière effective et continue depuis au moins 6 mois
Commune où vous avez l'obligation de résider en tant que fonctionnaire
Commune où la société, dont vous êtes le gérant ou l'associé majoritaire ou unique depuis au moins 2 ans, est inscrite au rôle des contributions communales depuis au moins 2 ans
À savoir :

Si vous êtes hébergé chez un proche (parent par exemple) ou un ami, vous pouvez être inscrit dans la commune où vous êtes hébergé.
Si vous êtes SDF: SDF : Sans domicile fixe, ou forain, ou gens du voyage, vous pouvez être inscrit dans la commune de l'organisme où vous avez élu domicile.
VOUS VIVEZ A L ETRANGER
Vous vivez à l'étranger, mais voulez voter en France
Vous êtes inscrit au registre des Français établis hors de France
Vous pouvez vous inscrire sur la liste électorale d'une des communes suivantes :

Commune où est situé votre domicile
Commune où vous résidez depuis au moins 6 mois
Commune où vous êtes soumis aux impôts locaux (taxe d'habitation ou cotisations foncière des entreprises ou taxe foncière sur les propriétés bâties ou non bâties) depuis au moins 2 ans
Commune où se situe une société soumise aux impôts locaux depuis au moins 2 ans et dont vous êtes le gérant (dirigeant) ou l'actionnaire (majoritaire ou unique) depuis au moins 2 ans
Commune où vous êtes né
Commune de votre dernier domicile
Commune de votre dernière résidence, à la condition que celle-ci ait été d'au moins 6 mois
Commune où un de vos parents (jusqu'au 4e degré): Père-mère, grands-parents, arrière grands-parents, arrière-arrière grands-parents, fils/fille, petits-enfants, arrière petits-enfants en ligne directe, arrière-arrière petits-enfants, frère/sœur, oncle/tante, grand-oncle/grand-tante, neveu/nièce, petit-neveu/petite-nièce, cousin(e) germain(e) en ligne collatérale est né, est inscrit ou a été inscrit sur la liste électorale
Commune où votre époux ou l'un de vos parents (jusqu'au 4e degré): Père-mère, grands-parents, arrière grands-parents, arrière-arrière grands-parents, fils/fille, petits-enfants, arrière petits-enfants en ligne directe, arrière-arrière petits-enfants, frère/sœur, oncle/tante, grand-oncle/grand-tante, neveu/nièce, petit-neveu/petite-nièce, cousin(e) germain(e) en ligne collatérale est inscrit ou a été inscrit sur la liste électorale

Vous n'êtes pas inscrit au registre:
Vous pouvez vous inscrire sur la liste électorale d'une des communes suivantes :

Commune où est situé votre domicile
Commune où vous résidez depuis au moins 6 mois
Commune où vous êtes soumis aux impôts locaux (taxe d'habitation ou cotisations foncière des entreprises ou taxe foncière sur les propriétés bâties ou non bâties) depuis au moins 2 ans
Commune où se situe une société soumise aux impôts locaux depuis au moins 2 ans et dont vous êtes le gérant (dirigeant) ou l'actionnaire (majoritaire ou unique) depuis au moins 2 ans
QUAND ET COMMENT S INSCRIRE
Un Français qui atteint l'âge de 18 ans est inscrit automatiquement sur les listes électorales s'il a fait la démarche de recensement citoyen à partir de 16 ans.
Une personne devenue française après 2018 est inscrite automatiquement sur les listes électorales.
Une personne détenue en prison et qui n'est pas privée du droit de vote doit respecter une procédure d'inscription particulière.
Un citoyen européen résidant en France peut demander à être inscrit sur les listes électorales complémentaires de sa mairie pour voter aux élections municipales et élections européennes en France.
CARTE ELECTORALE
La carte électorale est envoyée par courrier à votre domicile au plus tard 3 jours avant le 1er tour de l'élection (ou référendum).

Si votre carte électorale ne vous a pas été distribuée avant l'élection ou le référendum, elle est conservée au bureau de vote. Vous pourrez la récupérer le jour du vote en présentant une pièce d'identité.</p>
LE JOUR SU SCRUTIN:
<img = src="https://mobile.interieur.gouv.fr/var/miomcti/storage/images/media/mi/images/infographies/elections-citoyennete/presidentielle-2017/les-jeunes-et-les-elections/le-jour-du-scrutin/803308-1-fre-FR/Le-jour-du-scrutin_large.png">


  </body>
</html>
