<div class="container">
    <h2 class="title"><strong>Glossaire</strong></h2>
    <%# <hr> %>
    <ul>
        <h4><strong>A</strong></h4>
        <%# <hr class="hr_list_glossaire"> %>
        <li><h5><strong>Agroalimentaire</strong></h5><br><p>Relatif à la transformation par l'industrie des produits agricoles destinés à l'alimentation.</p></li>
        <h4><strong>E</strong></h4>
        <%# <hr class="hr_list_glossaire"> %>
        <li><h5><strong>Énergies renouvelables</strong></h5><br><p>Énergies dérivées de processus naturels en perpétuel renouvellement, notamment celles d'origine solaire, éolienne, hydraulique, géothermique ou végétale (bois, biocarburants, etc.).</p></li>
        <li><h5><strong>Euthanasie</strong></h5><br><p>Usage des procédés qui permettent de hâter ou de provoquer la mort de malades incurables qui souffrent et souhaitent mourir.</p></li>
        <h4><strong>I</strong></h4>
        <%# <hr class="hr_list_glossaire"> %>
        <li><h5><strong>Immigration</strong></h5><br><p>Entrée dans un pays, une région, de personnes qui vivaient à l'extérieur et qui viennent s'y établir, y chercher un emploi.</p></li>
        <h4><strong>M</strong></h4>
        <%# <hr class="hr_list_glossaire"> %>
        <li><h5><strong>Minima sociaux</strong></h5><br><p>Les minima sociaux visent à assurer un revenu minimal à une personne (ou à sa famille) en situation de précarité.</p></li>
        <h4><strong>P</strong></h4>
        <%# <hr class="hr_list_glossaire"> %>
        <li><h5><strong>Pouvoir d'achat</strong></h5><br><p>Le pouvoir d'achat correspond à la quantité de biens et de services qu'un revenu permet d'acheter. Le pouvoir d'achat dépend alors du niveau du revenu et du niveau des prix.</p></li>
        <li><h5><strong>Produits de première nécessité</strong></h5><br><p>Article indispensable pour vivre normalement.</p></li>
        <h4><strong>R</strong></h4>
        <%# <hr class="hr_list_glossaire"> %>
        <li><h5><strong>Référendum d'initiative citoyenne</strong></h5><br><p>Le référendum d'initiative partagée, ou RIP, est une procédure de consultation des citoyens inscrits sur les listes électorales reposant sur une initiative parlementaire.</p></li>
        <li><h5><strong>Règle verte</strong></h5><br><p>Ne pas prendre plus à la nature que ce qu’elle peut reconstituer</p></li>
        <%# <li><h5>Réindustrialisation décarbonée</h5><br><p></p></li> %>
        <h4><strong>S</strong></h4>
        <%# <hr class="hr_list_glossaire"> %>
        <li><h5><strong>Service public</strong></h5><br><p>Le service public est une activité d'intérêt général qui peut être prise en charge directement par un organisme du secteur public administration, entreprise publique, établissement public... ou assuré par le secteur privé.</p></li>
        <li><h5><strong>SMIC</strong></h5><br><p>Le salaire minimum de croissance ( Smic : Smic : Salaire minimum interprofessionnel de croissance ) correspond au salaire horaire minimum légal que le salarié doit percevoir. Des abattements sont toutefois applicables, dans certains cas (apprentis et salariés de moins de 18 ans).</p></li>
        <h4><strong>T</strong></h4>
        <%# <hr class="hr_list_glossaire"> %>
        <li><h5><strong>Taxe carbone</strong></h5><br><p>La taxe carbone est une taxe ajoutée au prix de vente de produits ou de services en fonction de la quantité de gaz à effet de serre, comme le gaz carbonique (CO2, dioxyde de carbone), émis lors de leur utilisation.</p></li>
    </ul>
</div>