<h1>questionnaire</h1>

<div class="container">



  <div class="cards-question">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium velit quos placeat minus ducimus veniam eius labore iure natus totam, sequi cum optio reiciendis, laborum itaque minima. Ut, doloremque velit.
  </div>
  <div class="cards-reponse btn btn-success">premiere reponse</div>
  <div class="cards-reponse btn btn-secondary">deuxieme reponse</div>
  <div class="cards-reponse btn btn-danger">troisieme reponse</div>

   <div class="cards-question">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam in vitae architecto sint a, id quis aspernatur eveniet adipisci dignissimos, fuga tempora quod, rerum similique quas illo? Animi, cum molestias?
  </div>
  <div class="cards-reponse btn btn-success">premiere reponse</div>
  <div class="cards-reponse btn btn-secondary">deuxieme reponse</div>
  <div class="cards-reponse btn btn-danger">troisieme reponse</div>

   <div class="cards-question">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam mollitia tempora magni quam perferendis incidunt officia, laboriosam autem quis ipsam beatae nulla. Fugit, ab error distinctio explicabo veritatis inventore quo.
  </div>
  <div class="cards-reponse btn btn-success">premiere reponse</div>
  <div class="cards-reponse btn btn-secondary">deuxieme reponse</div>
  <div class="cards-reponse btn btn-danger">troisieme reponse</div>

   <div class="cards-question">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam mollitia tempora magni quam perferendis incidunt officia, laboriosam autem quis ipsam beatae nulla. Fugit, ab error distinctio explicabo veritatis inventore quo.
  </div>
  <div class="cards-reponse btn btn-success">premiere reponse</div>
  <div class="cards-reponse btn btn-secondary">deuxieme reponse</div>
  <div class="cards-reponse btn btn-danger">troisieme reponse</div>


</div>
